<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <div class="header">
      <div class="Name">
        <h2>Admin Panel</h2>
      </div>
      <div class="links">
        <nav>
          <a href="/admin/add-product">Add Products</a>
          <a href="/admin/all-users">All Users</a>
        </nav>
      </div>
      <div class="Logout">
        <a href="/admin/logout"><button>Logout </button></a>
      </div>
    </div>
  </header>
  <main>
    <p>Welcome to the admin page.</p>
  </main>
</body>

</html>